.services-intro{
    margin-bottom: -28rem;
}

.services-intro__image__container{
    background-color: whitesmoke;
    width: 100%;
}
.services-intro__image{
    width: 100%;
    height: 35rem;
}

.services-intro__text{
    width: 40rem;
    margin: 0 auto;
    position: relative;
    top: 13rem;
    color: whitesmoke;
    
}
.services-intro__text h2, .services-intro__text p{
    text-align: center;
}
.services-intro__text h2{
    font-size: 2rem;
}

.services-intro__text_container{
    background-color:  rgba(37, 37, 41, 0.507);
    width: 100%;
    height: 35rem;
    position: relative;
    top: -37.1rem;
}

.departments__details__data_image{
    width: 2rem;
}

.services-info{
    width: 25rem;
    margin: 3rem auto;
}
.services-info h2{
    text-align: center;
    font-size: 2rem;
}
.services-info p{
    text-align: center;
}

.services-details{
    margin: 3rem 0;
}
.services-details__container{
    display: flex;
    justify-content: space-around;

}
.services__details__data_icon{
    font-size: 2rem;
    color: #110cf3;
    width: 5rem;
    margin: 0 auto;
}

.services-details__info_text{
    width: 20rem;
    text-align: center;
}
.services-details__info{
    display: flex;
    flex-direction: column;
    margin: 3rem 0;
}